.algorithm_config_title_div{
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: SimSun;
    font-size: 35px;
    border-bottom: 1px solid black;
}
.algorithm_list_title_table{
    position: relative;
    margin: 30px auto 0px;
    width: 60%;
    font-family: SimSun;
    font-size: 35px;
}
.algorithm_list_div{
    position: relative;
    margin: 0 auto;
    width: 60%;
    overflow-y: auto;
    font-family: SimSun;
    font-size: 35px;
}
.algorithm_list_div table{
    width: 100%;
}

.original_table{
    height: 30%;
}

.new_table{
    height: 30%;
}
