html, body {
  background-color: #c7ccd1;
  display: flex;
  justify-content: center;
}

.main-display{
  width: 400px;
  float: left;
}

.middle-display{
  margin: 0 auto;
}

.text-display{
  text-align: left;
}

.text-center{
  text-align: center;
  width: 100%;
}

#video {
  margin-top: 30px;
  float: left;
}

#video-display{
  background-color: #111111;
  width: 320px;
  height: 180px;
}

#video-canvas{
  width: 320px;
  height: 180px;
}

#video-button{
  margin: 3px 5px 0px;
}

#video-button button{
  margin-left: 80px;
  width: 60px;
}

#video-form{
  margin-left: 40px;
}

#video-select{
  margin-left: 40px;
  margin-top: 10px;
}

#video-log{
  margin-left: 40px;
  margin-top: 20px;
}

#predict{
  margin-top: 30px;
}

#predict-button{
  margin:0 auto;
  text-align: center;
}

#predict-display{
  width: 320px;
  height: 180px;
  margin: 0 auto;
}

#predict-log{
  text-align: center;
  margin-top: 20px;
}

#add-vector{
  margin-top: 30px;
  margin-left: 40px;
}
